<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.posmedicine">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="offclinic_db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.posmedicine.models" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateUnitActivity" />
        <activity
            android:name=".activities.MedicineActivity"
            android:label="@string/title_activity_medicine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UnitActivity"
            android:label="@string/title_activity_unit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AppointmentDetailActivity" />
        <activity android:name=".activities.CreateMedicineActivity" />
        <activity android:name=".activities.EditMedicineActivity" />
        <activity android:name=".activities.EditUnitActivity" />
        <activity android:name=".activities.PharmacyChasierActivity" />
        <activity android:name=".activities.CashierTransactionActivity" />
        <activity android:name=".activities.CashierTransactionDetailActivity" />
        <activity android:name=".activities.CreateAppointmentActivity" />
        <activity
            android:name=".activities.ComplaintHeaderActivity"
            android:label="@string/title_activity_complaint_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ComplaintDetailActivity"
            android:label="@string/title_activity_complaint_detail"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>